In [7]:
pip install lazypredict

Collecting lazypredict
  Downloading lazypredict-0.2.12-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: xgboost in c:\users\sayal\anaconda3\lib\site-packages (from lazypredict) (1.6.1)
Requirement already satisfied: tqdm in c:\users\sayal\anaconda3\lib\site-packages (from lazypredict) (4.64.0)
Requirement already satisfied: click in c:\users\sayal\anaconda3\lib\site-packages (from lazypredict) (8.0.4)
Collecting lightgbm
  Downloading lightgbm-3.3.5-py3-none-win_amd64.whl (1.0 MB)
Requirement already satisfied: joblib in c:\users\sayal\anaconda3\lib\site-packages (from lazypredict) (1.1.0)
Requirement already satisfied: pandas in c:\users\sayal\anaconda3\lib\site-packages (from lazypredict) (1.4.2)
Requirement already satisfied: scikit-learn in c:\users\sayal\anaconda3\lib\site-packages (from lazypredict) (1.0.2)
Requirement already satisfied: colorama in c:\users\sayal\anaconda3\lib\site-packages (from click->lazypredict) (0.4.4)
Requirement already satisfied: numpy in c:\users\sayal\anaconda3\lib\site-packages (from lightgbm->lazypredict) (1.21.5)
Requirement already satisfied: wheel in c:\users\sayal\anaconda3\lib\site-packages (from lightgbm->lazypredict) (0.37.1)
Requirement already satisfied: scipy in c:\users\sayal\anaconda3\lib\site-packages (from lightgbm->lazypredict) (1.9.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sayal\anaconda3\lib\site-packages (from scikit-learn->lazypredict) (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sayal\anaconda3\lib\site-packages (from pandas->lazypredict) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sayal\anaconda3\lib\site-packages (from pandas->lazypredict) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\sayal\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->lazypredict) (1.16.0)
Installing collected packages: lightgbm, lazypredict
Successfully installed lazypredict-0.2.12 lightgbm-3.3.5
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score, RandomizedSearchCV
from lazypredict.Supervised import LazyRegressor
from sklearn.linear_model import LinearRegression, ElasticNet, Lasso, Ridge, HuberRegressor, LogisticRegression, BayesianRidge
from sklearn.tree import DecisionTreeRegressor, ExtraTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, GradientBoostingRegressor, VotingRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)

In [2]:
data=pd.read_csv("Cleaned.csv")

In [3]:
data.shape

(10682, 30)

In [4]:
data.head()

,Total_Stops,Price,journey_day,journey_month,Dep_hour,Dep_minute,Arrival_hour,Arrival_minute,Duration_hours,Duration_minutes,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,Airline_Vistara,Airline_Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,1,3897,24,3,22,20,1,10,2,50,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,2,7662,5,1,5,50,13,15,7,25,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2,2,13882,6,9,9,25,4,25,19,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0
3,0,6218,5,12,18,5,23,30,5,25,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4,0,13302,3,1,16,50,21,35,4,45,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [5]:
data.columns

Index(['Total_Stops', 'Price', 'journey_day', 'journey_month', 'Dep_hour',
       'Dep_minute', 'Arrival_hour', 'Arrival_minute', 'Duration_hours',
       'Duration_minutes', 'Airline_Air India', 'Airline_GoAir',
       'Airline_IndiGo', 'Airline_Jet Airways', 'Airline_Jet Airways Business',
       'Airline_Multiple carriers',
       'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet',
       'Airline_Trujet', 'Airline_Vistara', 'Airline_Vistara Premium economy',
       'Source_Chennai', 'Source_Delhi', 'Source_Kolkata', 'Source_Mumbai',
       'Destination_Cochin', 'Destination_Delhi', 'Destination_Hyderabad',
       'Destination_Kolkata', 'Destination_New Delhi'],
      dtype='object')

In [6]:
data.shape

(10682, 30)

In [7]:
data.columns

Index(['Total_Stops', 'Price', 'journey_day', 'journey_month', 'Dep_hour',
       'Dep_minute', 'Arrival_hour', 'Arrival_minute', 'Duration_hours',
       'Duration_minutes', 'Airline_Air India', 'Airline_GoAir',
       'Airline_IndiGo', 'Airline_Jet Airways', 'Airline_Jet Airways Business',
       'Airline_Multiple carriers',
       'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet',
       'Airline_Trujet', 'Airline_Vistara', 'Airline_Vistara Premium economy',
       'Source_Chennai', 'Source_Delhi', 'Source_Kolkata', 'Source_Mumbai',
       'Destination_Cochin', 'Destination_Delhi', 'Destination_Hyderabad',
       'Destination_Kolkata', 'Destination_New Delhi'],
      dtype='object')

In [8]:
y=data["Price"]

In [9]:
x=data.drop("Price",axis=1)

In [10]:
print(x.columns)

Index(['Total_Stops', 'journey_day', 'journey_month', 'Dep_hour', 'Dep_minute',
       'Arrival_hour', 'Arrival_minute', 'Duration_hours', 'Duration_minutes',
       'Airline_Air India', 'Airline_GoAir', 'Airline_IndiGo',
       'Airline_Jet Airways', 'Airline_Jet Airways Business',
       'Airline_Multiple carriers',
       'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet',
       'Airline_Trujet', 'Airline_Vistara', 'Airline_Vistara Premium economy',
       'Source_Chennai', 'Source_Delhi', 'Source_Kolkata', 'Source_Mumbai',
       'Destination_Cochin', 'Destination_Delhi', 'Destination_Hyderabad',
       'Destination_Kolkata', 'Destination_New Delhi'],
      dtype='object')

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)
print("shape of x_train,y_train :")
print(x_train.shape,y_train.shape)
print("shape of x_test,y_test :")
print(x_test.shape,y_test.shape)

shape of x_train,y_train :
(7477, 29) (7477,)
shape of x_test,y_test :
(3205, 29) (3205,)

In [12]:
models=[["LinearRegression:",LinearRegression()],
        ["KNeighborsRegressor:",KNeighborsRegressor()],
        ["DecisionTreeRegressor:",DecisionTreeRegressor()],
        ["RandomForestRegressor:",RandomForestRegressor()],
        ["SVR:",SVR()],
        ['XGBRegressor : ', XGBRegressor()],
        ["AdaBoostRegressor:",AdaBoostRegressor()],
        ["GradientBoostingRegressor:",GradientBoostingRegressor()]]

In [13]:
for name,model in models:
    model=model
    model.fit(x_train,y_train)
    predict=model.predict(x_test)
    print(name,(np.sqrt(mean_squared_error(y_test,predict))))

LinearRegression: 2930.3180922539036
KNeighborsRegressor: 2993.8700576839356
DecisionTreeRegressor: 2425.4148691669425
RandomForestRegressor: 2034.916376908694
SVR: 4505.5884869906795
XGBRegressor :  1794.5651567460234
AdaBoostRegressor: 3712.7386767718644
GradientBoostingRegressor: 2064.8353283247716

In [14]:
algorithms = {
    'XGBRegressor' : {
        'model' : XGBRegressor(),
        'param' : {
            'learning_rate' : [0.5, 0.8, 0.1, 0.20, 0.25, 0.30],
            'max_depth' : [3, 5, 7, 9, 11, 13, 15],
            'gamma' : [0.1,0.2, 0.3, 0.4, 0.5],
            'min_child_weight' : [1, 3, 5, 7, 9],
            'colsample_bytree' : [0.5, 0.8, 0.1, 0.20, 0.25, 0.30]
        }
    },
    'RandomForestRegressor' : {
        'model' : RandomForestRegressor(),
        'param' : {
            'n_estimators' : [300, 500, 700, 1000, 2100],
            'max_depth' : [3, 5, 7, 9, 11, 13, 15],
            'max_features' : ["auto", "sqrt", "log2"],
            'min_samples_split' : [2, 4, 6, 8]
        }
    },
    'GradientBoostingRegressor' : {
        'model' : GradientBoostingRegressor(),
        'param' : {
            'learning_rate' : [0.5, 0.8, 0.1, 0.20, 0.25, 0.30],
            'n_estimators' : [300, 500, 700, 1000, 2100],
            'criterion' : ['friedman_mse', 'mse']
        }
    }
}

In [15]:
algorithms.items()

dict_items([('XGBRegressor', {'model': XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, gamma=None,
             gpu_id=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_to_onehot=None, max_delta_step=None, max_depth=None,
             max_leaves=None, min_child_weight=None, missing=nan,
             monotone_constraints=None, n_estimators=100, n_jobs=None,
             num_parallel_tree=None, predictor=None, random_state=None,
             reg_alpha=None, reg_lambda=None, ...), 'param': {'learning_rate': [0.5, 0.8, 0.1, 0.2, 0.25, 0.3], 'max_depth': [3, 5, 7, 9, 11, 13, 15], 'gamma': [0.1, 0.2, 0.3, 0.4, 0.5], 'min_child_weight': [1, 3, 5, 7, 9], 'colsample_bytree': [0.5, 0.8, 0.1, 0.2, 0.25, 0.3]}}), ('RandomForestRegressor', {'model': RandomForestRegressor(), 'param': {'n_estimators': [300, 500, 700, 1000, 2100], 'max_depth': [3, 5, 7, 9, 11, 13, 15], 'max_features': ['auto', 'sqrt', 'log2'], 'min_samples_split': [2, 4, 6, 8]}}), ('GradientBoostingRegressor', {'model': GradientBoostingRegressor(), 'param': {'learning_rate': [0.5, 0.8, 0.1, 0.2, 0.25, 0.3], 'n_estimators': [300, 500, 700, 1000, 2100], 'criterion': ['friedman_mse', 'mse']}})])

In [16]:
score=[]
for a,i in algorithms.items():
    s=RandomizedSearchCV(estimator=i["model"],param_distributions=i["param"],cv=10)
    s.fit(x_train,y_train)
    score.append({"model":a,"score":s.best_score_,"params":s.best_params_})

In [17]:
result=pd.DataFrame(score,columns=["model","score","params"])

In [18]:
result

,model,score,params
0,XGBRegressor,0.80,"{'min_child_weight': 5, 'max_depth': 5, 'learn..."
1,RandomForestRegressor,0.82,"{'n_estimators': 500, 'min_samples_split': 4, ..."
2,GradientBoostingRegressor,0.81,"{'n_estimators': 2100, 'learning_rate': 0.1, '..."

In [19]:
result['params'][1]

{'n_estimators': 500,
 'min_samples_split': 4,
 'max_features': 'auto',
 'max_depth': 15}

In [24]:
m=RandomForestRegressor(n_estimators= 500,
 min_samples_split= 4,
 max_features= 'auto',
 max_depth= 15)

In [25]:
m.fit(x_train,y_train)

RandomForestRegressor(max_depth=15, min_samples_split=4, n_estimators=500)

In [26]:
predict=m.predict(x_test)

In [27]:
print("Root Mean Square Error:{}".format(np.sqrt(mean_squared_error(y_test,predict))))

Root Mean Square Error:1927.8814410434072

In [28]:
print("regressor score on training data is:",m.score(x_train,y_train))
print("regressor score on testing data is:",m.score(x_test,y_test))

regressor score on training data is: 0.92990711161156
regressor score on testing data is: 0.8178157822259551

In [29]:
print('MAE:', mean_absolute_error(y_test, predict))
print('MSE:', mean_squared_error(y_test, predict))
print('RMSE:', np.sqrt(mean_squared_error(y_test,predict)))

MAE: 1141.2745744531096
MSE: 3716726.8507196046
RMSE: 1927.8814410434072

In [30]:
import pickle
file = open('final_model.pkl', 'wb')
pickle.dump(m,file)